<div class="contenedor">
    <div class="row col-12 contenedor_hijos">
        <div class="col-5 contenedor_infoServicios">
            <div class="titulo">
                <h2>¿What services can I provide?</h2>
            </div>
            <div class="contenido_texto">
                <p>As a front-end web developer specializing in creating solid and effective designs, I excel in delivering clean code and dynamic, visually striking pages that align with all client recommendations.</p>
            </div>
        </div>
        <div class="col-7 contenedor_imgBannerCompleto">
            <div class="card mb-3" >
                <div class="row g-0 card_children">
                    <div class="col-md-6">
                        <img src="../../../assets/img/banner.png" alt="">
                    </div>
                    <div class="contenedor_infoCard col-6">
                        <div class="titulo col-12">
                            <p>Developing skills and
                                Desing </p>
                        </div>
                        <div class="col-12 d-flex">
                            <div class="subTitulo col-6">
                                <p>FrontEnd</p>

                                <span>
                                    JavaScript
                                </span>
                                <br>
                                <span>
                                    Java
                                </span>
                                <br>
                                <span>
                                    C#
                                </span>
                                <br>
                                <span>
                                    Angular Framework
                                </span>
                                <br>

                                <span>
                                    Ionic Framework
                                </span>
                                <br>

                                <span>
                                    WordPress
                                </span>
                                <br>

                                <span>
                                    Bootstrap, Materials
                                </span>
                                <br>

                                <span>
                                    Css, Scss
                                </span>

                            </div>
                            <div class="subTitulo col-6">
                                <p>BackEnd</p>
                                <span>
                                    NodeJs.
                                </span>
                                <br>
                                <br>
                                <p>Desing</p>
                                <span>
                                    Adobe XD.
                                </span>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>