<div class="contenedor">
    <div class="header">
        <div class="titulo col-12 col-md-8">
            <h1>About Me.</h1>
        </div>
    </div>
    <div class="body row">
        <div class="col-12 col-md-8">
            <div class="titulo_body">
                <h4>Systems engineer</h4>
                <span>2015 - 2021</span>
            </div>
            <div class="contenido_body">
                <p>Due to personal reasons, I have not been able to complete my formal studies. Nevertheless, this has
                    not hindered my professional growth. Leveraging the knowledge gained from seven semesters of study
                    and adopting self-taught learning methods, I have continued to advance and excel in my career.</p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="titulo_body">
                <h4>Work experience</h4>
                <span>2022 - 2024</span>
            </div>
            <div class="contenido_body">
                <p>I was working as a front-end developer for 1 year and 7 months with a company located in the city of Bogota, where I made multiple web and mobile applications, with the mobile part being my specialty.
                </p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="titulo_body">
                <h4>Udemmy</h4>
                <span>current</span>
            </div>
            <div class="contenido_body">
                <p>As a student who loves self-learning and has seen different courses on this platform, I am my
                    favorite when it comes to acquiring new skills.</p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="titulo_body">
                <h4>Domestika</h4>
                <span>2022</span>
            </div>
            <div class="contenido_body">
                <p>Since I learned about programming and saw its scope, I wanted to learn how to develop video games in
                    Domestika, I found the perfect course where I could achieve my goal.</p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="titulo_body">
                <h4>Other methods</h4>
                <span>current</span>
            </div>
            <div class="contenido_body">
                <p>The world of software is always in constant progress, as a developer we must always be updated with
                    constant improvements, documenting the different changes in the tools we use in our work, official
                    documentation, videos on the different platforms.
                </p>
            </div>
        </div>
    </div>
</div>